String Formatting of Dates

Feature Request from Samiul Hassan:

_The dates package is useful for getting numeric values from dates e.g. month, weekDay, yearDay. However, it would be very helpful to have a function capable of applying string formatting to dates (like strftime method in python). Currently, we would have to write long functions to do that in flux e.g. converting date to day name in week such as Monday etc._

Related to https://github.com/influxdata/flux/issues/3473
Related to https://github.com/influxdata/flux/issues/2886
Related to https://github.com/influxdata/flux/issues/731

@nathanielc Some thoughts here. I think we could port the Go time package and formatting functionality. I think it should also include the [predefined format constants](https://pkg.go.dev/time#pkg-constants) in the Go `time` package. If I new Go better, I'd look at contributing this myself. As far as an API design proposal, I think it should be part of the `date` package and look something like this:

```javascript
package date


Layout      = "01/02 03:04:05PM '06 -0700" // The reference time, in numerical order.
ANSIC       = "Mon Jan _2 15:04:05 2006"
UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
RFC822      = "02 Jan 06 15:04 MST"
RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
RFC3339     = "2006-01-02T15:04:05Z07:00"
RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
Kitchen     = "3:04PM"
// Handy time stamps.
Stamp      = "Jan _2 15:04:05"
StampMilli = "Jan _2 15:04:05.000"
StampMicro = "Jan _2 15:04:05.000000"
StampNano  = "Jan _2 15:04:05.000000000"

// ...

builtin format : (t: T, layout: string) => string where T: Timeable
```

So in use, it would look like:

```javascript
import "date"

option now = () => 2022-01-01T00:00:00Z

date.format(t: now(), layout: "2006/01/02")
// Returns "2022/01/01"

date.format(t: 24h, layout: "2006/01/02")
// Returns "2022/01/02"

date.format(t: now(), layout: date.UnixDate)
// Returns "Sat Jan 1 00:00:00 UTC 2022
```

The output is always a string, so you would only want to use this function to reformat a time value as a string and store it in another column. For example:

```javascript
import "data"
import "sampledata"

sampledata.int()
    |> map(fn: (r) => ({r with formattedTime: date.format(t: r._time, layout: date.RFC822}))
```

This makes sense, however I am not open to the idea of supporting the layout method supported by Go. There are two reasons:

1. Using it locks Flux's date package into Go's style, or forces us to reimplement it in the future.
2. Go's format method is very different from most other languages.


That said I think we can find a good middle ground here. Instead of allowing an arbitrary format we can support a set of known layouts. 
```
date.format(t: now(), layout: date.RFC822)
date.format(t: now(), layout: date.RFC3339)
```

etc

This way we can easily support common layouts but not have to do the work to define an arbitrary layout description language.

Thoughts?



I'm open to that, but I think we're going to have to build a pretty big library of layouts. In the past I've seen users wanting to do very custom, non-standard formats. I think that users will want the ability to fully customize a string timestamp.

I agree that Go's date layout formatting is very different. I just went that route because most of the builtins are written in Go. I'd actually prefer a syntax similar to [Rust's `strftime`](https://docs.rs/chrono/0.4.7/chrono/format/strftime/index.html) or [Python's `strftime`](https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior). Something like these formatting templates would make much more sense to me, but would require more work on our end to build out support.